*.csv filter=lfs diff=lfs merge=lfs -text
Week3/cwurData.csv filter=lfs diff=lfs merge=lfs -text
Week3/listings.csv filter=lfs diff=lfs merge=lfs -text
Week3/census.csv filter=lfs diff=lfs merge=lfs -text
